<div class="main posts-new">
  <div class="container">
    <h1 class="form-heading">投稿する</h1>
    <div class="form">
      <div class="form-body">
      	<%= form_tag("/posts/create") do %>
 <!-- <textarea>タグにname属性を指定すると、入力データを送信することができるようになり、name属性の値をキーとしたハッシュがRails側に送られます。 -->
      	　 <!-- textフォーム -->
      	  <textarea name="content"></textarea>
	       <!-- 投稿ボタン -->
	      <input type="submit" value="投稿">
        <% end %>
      </div>
    </div>
  </div>
</div>